.user-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-image: url('../img/bp.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.user-dialog {
    width: 500px;
    height: 450px;
    margin-top: 2rem;
    background-color: #fffbd2;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 4px 2px #609796;
}

.user-dialogï¼šafter {
    content: '';
    display: block;
    clear: both;
}

.user-dialog h1 {
    font-size: 2rem;
    font-weight: 600;
}

.user-dialog .bubble:nth-of-type(1) {
    position: absolute;
    top: -40px;
    left: 20px;
    transform: rotate(180deg);
}

.user-dialog .bubble:nth-of-type(2) {
    position: absolute;
    bottom: -40px;
    right: 20px;
}

.user-dialog .bubble .wrapper {
    position: relative;
    width: 38px;
    height: 64px;
}

.user-dialog .bubble .wrapper div:nth-of-type(1) {
    width: 30px;
    height: 30px;
    background-color: #fffbd2;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.user-dialog-wrapper .bubble .wrapper div:nth-of-type(2) {
    width: 12px;
    height: 12px;
    background-color: #fffbd2;
    border-radius: 6px;
    position: absolute;
    right: 8px;
    top: 36px;
}

.user-dialog-wrapper .bubble .wrapper div:nth-of-type(3) {
    width: 6px;
    height: 6px;
    background-color: #fffbd2;
    border-radius: 3px;
    position: absolute;
    left: 4px;
    top: 50px;
}

.user-dialog-wrapper .user-dialog .login-pic {
    width: 45%;
    height: 100%;
    background-image: url('../img/loginpic.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 90%;
    float: left;
}


/*-------------------------user-dialog-wrapper------------------*/

.user-dialog-wrapper .user-dialog .content {
    height: 100%;
    width: 55%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab {
    /*border: 1px solid red;*/
    width: 80%;
    text-align: center;
}


/*------------------nav------------------*/

.user-dialog-wrapper .user-dialog .content .sign-tab nav>label {
    display: inline-block;
    padding: 10px 10px 20px 10px;
    color: #aca9a1;
    cursor: pointer;
    display: none;
}

.user-dialog-wrapper .user-dialog .content .sign-tab nav>label>input {
    display: none;
}

.user-dialog-wrapper .user-dialog .content .sign-tab nav>label>span {
    font-size: 0.6rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab nav>label[data=false] {
    font-size: 0.8rem;
    color: inherit;
    font-weight: 600;
    display: block;
}


/*------------------nav------------------*/

.user-dialog-wrapper .user-dialog .content .sign-tab form .row {
    width: 80%;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 0 auto;
    display: flex;
    margin-top: 6px;
    justify-content: center;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .row label {
    flex-grow: 1;
    text-align: left;
    height: 2rem;
    line-height: 2rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .row input {
    border: none;
    border-radius: 2rem;
    flex-grow: 4;
    color: inherit;
    font-size: 1rem;
    outline: none;
    height: 2rem;
    background-color: rgb(138, 202, 200);
    padding-left: 10px;
    color: white;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .row .icon-yonghu {
    color: rgb(138, 202, 200);
    font-weight: 500;
    font-size: 1.6rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .row .icon-suoding {
    color: rgb(138, 202, 200);
    font-weight: 500;
    font-size: 1.6rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .row .icon-youjian {
    color: rgb(138, 202, 200);
    font-weight: 500;
    font-size: 1.6rem;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .action {
    border-bottom: none;
    width: 100%
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .action button {
    box-sizing: content-box;
    line-height: 2rem;
    display: block;
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid #ff6d6d;
    background-color: #fffbd2;
    color: #ff6d6d;
    margin: 0 auto;
    /*margin-top: 20px;*/
    cursor: pointer;
    outline: none;
    font-weight: 600;
}

.user-dialog-wrapper .user-dialog .content .sign-tab form .forget-password {
    font-size: .6rem;
    display: block;
    font-weight: 600;
    color: #ff6d6d;
    cursor: pointer;
    text-decoration: underline;
}

.user-dialog-wrapper .user-dialog .content .forget-tab {
    width: 80%;
    text-align: center;
    position: flex;
}

.user-dialog-wrapper .user-dialog .content .forget-tab h3 {
    font-size: 1.6rem;
    font-weight: 600px;
    padding-bottom: .5rem;
}

.user-dialog-wrapper .user-dialog .content .forget-tab p {
    font-size: 0.8rem;
    padding: 5px 0px 0px 10px;
    text-align: left;
    color: rgb(138, 202, 200);
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .row {
    text-align: left;
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .row label {
    height: 2rem;
    line-height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .row .icon-youjian {
    color: rgb(138, 202, 200);
    font-weight: 500;
    font-size: 1.6rem;
    position: relative;
    top: 2px;
}

.user-dialog-wrapper .user-dialog .content .forget-tab .forgotPassword {
    padding-top: 1rem;
}

.user-dialog-wrapper .user-dialog .content .forget-tab .forgotPassword .row input {
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    outline: none;
    height: 2rem;
    background-color: rgb(138, 202, 200);
    padding-left: 10px;
    color: white;
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .actions {
    text-align: center;
    padding-right: 24px;
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .actions button {
    box-sizing: content-box;
    line-height: 2rem;
    display: block;
    width: 7.5rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid #ff6d6d;
    background-color: #fffbd2;
    color: #ff6d6d;
    margin: 0 auto;
    margin-top: .85rem;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}

.user-dialog-wrapper .user-dialog .content .forget-tab form .actions .back-signup {
    font-size: 0.6rem;
    font-weight: 600;
    color: #ff6d6d;
    text-decoration: underline;
}