.App {
    text-align: center;
    width: 400px;
    min-height: 300px;
    box-shadow: 0px 4px 4px 2px #5d2dd7;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #e2d78c;
    color: #595a6a;
    padding-bottom: 20px;
}

.App h1 {
    font-weight: 500;
}

.App .input {
    box-sizing: border-box;
    width: 80%;
    border-radius: 8px;
    border-width: 0px;
    height: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    background-color: #eeebd8;
}

.App .input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0px 2px 2px #c8be78;
}

.App .todos-list {
    padding: 1rem;
    padding-left: 0;
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: black;
}

.App .todos-list>li {
    font-size: 1.5rem;
    color: #595a6a;
    font-weight: 500;
    margin-bottom: 20px;
}

.App .todos-list>li div {
    display: flex;
    justify-content: space-between;
}

.App .todos-list>li input {
    display: none;
}

.App .todos-list>li .item-content {
    position: relative;
}

.App .todos-list>li input:checked+.item-content:before {
    position: absolute;
    top: 2px;
    content: '\2714';
    color: #f16363;
    display: inline-block;
    padding-right: 6px;
    padding-left: 2px;
    text-shadow: 0px 1px 1px #eda033;
}

.App .todos-list>li .item-content:before {
    content: '';
    display: inline-block;
    width: 24px;
}

.App .todos-list>li .item-content span {
    position: absolute;
    left: 24px;
    display: inline-block;
    width: 240px;
    text-shadow: 0px 1px 1px #dbc276;
}

.App .todos-list>li .item-content span:hover {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transform: scale(1.05)
}

.App .todos-list>li .btn-delete:before {
    font-size: 1.5rem;
    color: white;
    content: '\2718';
    display: inline-block;
    line-height: 22px;
}

.App .todos-list>li .btn-delete:hover {
    text-shadow: 0px 1px 1px #eda033;
    transform: scale(1.5);
}