.App {
    text-align: center;
    width: 400px;
    min-height: 300px;
    box-shadow: 0px 4px 4px 2px #5d2dd7;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #e2d78c;
    color: #595a6a;
    padding-bottom: 20px;
}

.App .input {
    box-sizing: border-box;
    width: 80%;
    border-radius: 8px;
    border-width: 0px;
    height: 3rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #eeebd8;
}

.App .input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0px 2px 2px #c8be78;
}

.App .todos-list {
    padding: 1rem;
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: black;
}

.App .todos-list>li {
    padding-bottom: .6rem;
    padding-top: .6rem;
    font-size: 1.5rem;
    color: #34323c;
}

.App .todos-list>li div {
    display: flex;
    justify-content: space-between
}

.App .todos-list>li input {
    margin-top: 2px;
}

.App .todos-list>li .item-content {
    width: 80%;
    word-wrap: break-word;
    word-break: normal;
    text-shadow: 0px 1px 1px #dbc276;
}

.App .todos-list>li .btn-delete {
    background-color: #f78cff;
    font-size: 1rem;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    color: white;
    display: inline-block;
    margin-top: 2px;
}

.App .todos-list>li .btn-delete:hover {
    background-color: #f14afd;
    box-shadow: 0px 1px 1px #e5ad5e;
}